.recharts-cartesian-axis {

  &.recharts-xAxis {
    text {
      font-size: 10px;
    }
  }
}

.recharts-legend-wrapper {
  min-height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .recharts-legend-item {

    .recharts-legend-item-text {
      font-size: 13px;
      letter-spacing: 0.08px;
      line-height: 20px;
    }

    .recharts-surface {
      border-radius: 50%;
      width: 12px;
      height: 12px;
    }
  }
}

